{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}

    <div class="shadow p-4 mb-5 bg-body rounded">
        <div class="header-forms">
            Sign In
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Sign In" class="btn btn-primary">
            <a class="btn btn-outline-primary" href="{% url 'request_reset' %}">Forgot password?</a>
        </form>

        <div class="social-login">

            <div class="social-login-google">
                <form action="{% provider_login_url 'google' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-primary">
                      <img src="{% static 'images/google_logo.png' %}" />
                      Sign In with Google
                  </button>
                </form>
            </div>

            <div class="social-login-github">
                <form action="{% provider_login_url 'google' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-primary">
                      <img src="{% static 'images/github_logo.png' %}" />
                      Sign In with GitHub
                  </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}